<web-app>

<servlet>
<servlet-name>Details</servlet-name>
<servlet-class>DetailsServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Details</servlet-name>
<url-pattern>/details</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Result</servlet-name>
<servlet-class>ResultServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Result</servlet-name>
<url-pattern>/result</url-pattern>
</servlet-mapping>

</web-app>
