<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<servlet>
<servlet-name>Exam Results</servlet-name>
<servlet-class>MVCServlet.Controller.ServletPost</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Exam Results</servlet-name>
<url-pattern>/ServletPost</url-pattern>
</servlet-mapping>
</web-app>
