body {
    background-color: #fff;
    align-items: center;
}
.form-box {
    height: 55vh;
    width: 30vw;
    padding-top: 40px;
    margin-top: 20vh;
    margin-left: 35vw; 
    background-color: #bfbfbf;
    border-radius: 10px;
    font-family: sans-serif;
    font-size: 1em;
}
form {
    display: table;
    padding-left: 120px;
}
p {
    display: table-row; 
}
label { 
    display: table-cell;
}
input {
    display: table-cell;
    width: 150px;
}