<web-app>

<servlet>
<servlet-name>Welcome</servlet-name>
<servlet-class>DemoServlet.DemoServ</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Welcome</servlet-name>
<url-pattern>/welcome</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Hello</servlet-name>
<servlet-class>FirstServlet.WelcomeServlet.HelloServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Hello</servlet-name>
<url-pattern>/hello</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Coffee</servlet-name>
<servlet-class>MVCdemo.Controller.CoffeeSelect</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Coffee</servlet-name>
<url-pattern>/coffee</url-pattern>
</servlet-mapping>

</web-app>